{% extends "base.html" %}

{% block content %}

  {% if post %}

    <div class="post">
      <div class="post-heading">
        <div class="post-title">
          <a href="/blog/{{post.key().id()}}">
            {{post.subject}}
          </a>
        </div>

        <div class="pull-right">
          <a href="/like/{{post.key().id()}}">
            {{likeStatus}}
          </a>
          {% if (post.likes|length) > 1 %}
            {{post.likes|length}} Likes
          {% else %}
            {{post.likes|length}} Like
          {% endif %}
        </div>
        <div class="post-date">
          {{post.created.strftime("%b %d, %Y")}}
        </div>
      </div>

      <div class="post-content">
        {{post._render_text | safe}}
      </div>
    </div>

  {% endif %}

{% endblock %}
