{% extends "base.html" %}

{% block content %}

  {% if post %}

    <div class="post">
      <div class="post-heading">
        <div class="post-title">
          {{post.subject}}
          |
          <a href="/delete/{{post.key().id()}}">
            delete
          </a>
           |
          <a href="/edit/{{post.key().id()}}">
            edit
          </a>
        </div>

        <div class="pull-right">
          <a href="/like/{{post.key().id()}}">
            {{likeStatus}}
          </a>
          {% if (post.likes|length) > 1 %}
            {{post.likes|length}} Likes
          {% else %}
            {{post.likes|length}} Like
          {% endif %}
        </div>
        <div class="post-date">
          {{post.created.strftime("%b %d, %Y")}}
        </div>
        by {{post.user_name}}
      </div>

      <div class="post-content">
        {{post.render_text() | safe}}
      </div>
    </div>

    {% if uid %}

      <h2>Add a comment:</h2>
      <form method="post">
          <label>Subject</label>
          <input type="text" name="subject" value={{subject}}>
          <label>Content</label>
          <textarea name="content" rows="3">{{content}}</textarea>
        {% if error %}
          <div class="alert alert-danger">
            {{error}}
          </div>
        {% endif %}
        <button type="submit">Submit</button>
      </form>
      <br>

    {% endif %}

    {% for comment in comments %}

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                {{comment.subject}}
                |
                <a href="/delete/{{comment.key().id()}}">
                  delete
                </a>
                 |
                <a href="/edit/{{comment.key().id()}}">
                  edit
                </a>
                |
                by {{comment.user_name}}
              </h3>
            </div>
            <div class="panel-body">
              {{comment.content}}
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

  {% endif %}

{% endblock %}
